body{
    height:100vh;
    background:url(2.jpg) ;
    display:flex;
    justify-content: center;
    align-items:center;
}

#add-task-container{
    width:350px;
    padding:20px 10px;
    background:white;
    border-radius:20px;
    box-shadow:0 0 3px;
    display:flex;

}
